<header>
	<div>
		<a class="site-title full" href="{{ .Site.BaseURL  }}">{{ .Site.Title }}</a>
		<a class="site-title shortened" href="{{ .Site.BaseURL  }}">RDAVNY.com</a>
		<ul class="menu h icons">
		{{ range .Site.Menus.icons }}
			<li><a href="{{ .URL }}" target="_blank"><i class="{{ .Name }}"></i></a></li>
		{{ end }}
		</ul>
	</div>
	<nav>
		<ul class="menu h main">
		{{ $currentNode := . }}
		{{ range .Site.Menus.main }}
			<li class="{{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}active{{ end }}">
				<a href="{{ .URL }}">{{ .Name }}</a>
			</li>
		{{ end }}
		</ul>
		<a class="toggle"><span class="fas fa-bars"></span></a>
	</nav>
</header>
